.corps {
    background: rgb(133, 126, 126);
    width: 90%;
    height: 100vh;
    margin :  0 auto;
    margin-top: 20px;
    border: 3px solid #000;

}

.tete {
    background: rgb(133, 126, 126);
    width: 100%;
    height: 20vh;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    border-bottom: 3px solid #000;
}

.image img {
    width: 95%;
    height: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    background: rgb(170, 165, 165);
    border-bottom: 3px solid #000;
}

.liens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1%;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

.titre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1%;
}
